name: Build and Release Plugin

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '7.4' # or any version you require
        extension-csv: mbstring, zip

    - name: Install Composer
      run: sudo apt-get install composer

    - name: Run build script
      run: |
        chmod +x build.sh
        ./build.sh

    - name: Get the version from the plugin file
      id: get_version
      run: |
        version=$(grep -oP "Version:\s*\K[0-9]+\.[0-9]+\.[0-9]+" path/to/your/plugin/plugin-file.php)
        echo ::set-output name=version::$version

    - name: Create GitHub Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: v${{ steps.get_version.outputs.version }}
        release_name: Release ${{ steps.get_version.outputs.version }}
        draft: false
        prerelease: false

    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: wc-splitmo-payment-gateway.zip
        asset_name: wc-splitmo-payment-gateway.zip
        asset_content_type: application/zip
